<!-- Contact -->
<div style="margin-bottom: 40px;">
 <!-- <h4>Связаться с нами</h4>

  <form name="ContantForm" netlify>
    <div class="ra-form">
      <div class="ra-form__inputs">
        <!-- Name ->
        <div>
          <fieldset>
            <input name="name" type="text" id="name" placeholder="Имя">
          </fieldset>
        </div>
        <!-- Зрщту ->
        <div>
          <fieldset>
            <input name="phone" type="text" id="phone" placeholder="Телефон">
          </fieldset>
        </div>
        <!-- Email ->
        <div>
          <fieldset>
            <input name="email" type="email" id="email" placeholder="Email *">
          </fieldset>
        </div>
      </div>
      <div>
        <!-- Message ->
        <fieldset>
          <textarea name="message" placeholder="Сообщение" rows="8" cols="80" id="message"></textarea>
        </fieldset>
      </div>
    </div>
    <!-- Button ->
    <div>
      <button type="submit">Отправить</button>
    </div>
  </form> -->
</div>
