<div class="ra-footer">
    <div class="ra-footer__col">
        <h3>Мы в соцсетях</h3>
        <div class="ra-footer__socials">
            <a href="https://www.facebook.com/beflorist.by/" target="_blank">
                <img src="/img/icons/facebook.svg" width="40" height="40" alt="facebook">
            </a>
            <a href="https://www.instagram.com/beflorist.by/" target="_blank">
                <img src="/img/icons/instagram.svg" width="40" height="40" alt="instagram">
            </a>
        </div>
    </div>
    <div class="ra-footer__col">
        <h3>Контакты</h3>
        <address>
            <br>
            <a href="mailto:school@rozaazora.by">school@rozaazora.by</a><br>
            <br>
            Беларусь, Минск,<br>
            Пр-т. Машерова 9, корпус 8 (2 этаж)<br>
            <br>

            <a href="tel:+375445677777">+375 44 567 77 77</a><br>
            <a href="tel:+375447687777">+375 44 768 77 77</a>
        </address>
    </div>
    <div class="ra-footer__col">
        <h3>&nbsp;</h3>
    </div>
    <div class="ip-info">
        ИП Гайдукевич Ольга Владимировна тел.: +375 (44) 567-77-77. Минск 2018.
    </div>
</div>

<script src="/app.js"></script>

</body>

</html>