<div class="ra-home-blog-posts">
    <h1 class="ra-section-title">
        <span>Блог</span>
    </h1>
    <div class="ra-home-blog-posts__container">
        {{ $blogPosts := (where .Data.Pages "Type" "blog")}}
        {{ range (.Paginate ( first 3 $blogPosts.ByDate)).Pages }}
            <div class="ra-home-blog-posts__item js-move-decoration">
                <div class="ra-home-blog-posts__item-image">
                    <div style="background-image: url({{ .Params.image }}"></div>
                </div>
                <h2>
                    {{ .Title }}
                </h2>
                <p>
                    {{ .Description }}
                </p>
                <a href="{{ .Permalink }}">
                    Читать больше
                </a>
            </div>
        {{ end }}
    </div>



</div>