<div class="ra-home-blog-posts">
    <h1 class="ra-section-title">
        <a href="/blog">Блог</a>
    </h1>
    <div class="ra-home-blog-posts__container">
        {{ $blogPosts := (where .Data.Pages "Type" "blog")}}
        {{ range (.Paginate ( first 3 $blogPosts.ByDate.Reverse)).Pages }}
            <div class="ra-home-blog-posts__item js-move-decoration">
                <a href="{{ .Permalink}}" class="ra-home-blog-posts__item-image">
                    <div style="background-image: url({{ .Params.image }}"></div>
                </a>
                <a href="{{ .Permalink}}" class="invisible-link">
                    <h2>
                        {{ .Title }}
                    </h2>
                    <p>
                        {{ .Description }}
                    </p>
                </a>
                <a href="{{ .Permalink }}">
                    Читать больше
                </a>
            </div>
        {{ end }}
    </div>

    <div class="read-all-link">
        <a href="/blog">Все новости</a>
    </div>


</div>