<div class="home-menu">
    <div class="home-menu__item point-of-intrest">
        <div class="js-parallax-background" style="background-image: url(/img/home/2.jpg)"></div>
        <h2>Присоединяйся</h2>
        <h3>Смотри студию, Знакомься с командой</h3>
        <div class="overlay">
            {{ partial "ra-preload-decoration" . }}
        </div>
        <div class="point-of-intrest__link">
            <a href="/about-us" class="arrow-link arrow-link--bastilie">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    Зайти в гости
                </p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </div>
    </div>
    <div class="home-menu__item point-of-intrest back-fade">
        <h2>Курсы</h2>
        <h3>Наши курсы и семинары</h3>
        <div class="overlay">
            {{ partial "ra-preload-decoration" . }}
        </div>
        <div class="point-of-intrest__link">
            <a href="/courses" class="arrow-link">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    Будь в теме
                </p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </div>
    </div>
    <div class="home-menu__row">
        <div class="home-menu__item point-of-intrest">
            <div class="js-parallax-background" style="background-image: url(/img/home/1.jpg)"></div>
            <h2>Блог</h2>
            <h3>Жизнь школы</h3>
            <div class="overlay">
                {{ partial "ra-preload-decoration" . }}
            </div>
            <div class="point-of-intrest__link">
                <a href="/blog" class="arrow-link arrow-link--bastilie">
                    <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        К новостям
                    </p>
                    <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
                </a>
            </div>
        </div>
        <div class="home-menu__item point-of-intrest">
            <div class="js-parallax-background" style="background-image: url(/img/home/kurs_afisha1.jpg)"></div>
            <h2>Архив</h2>
            <h3>Фото и видео</h3>
            <div class="overlay">
                {{ partial "ra-preload-decoration" . }}
            </div>
            <div class="point-of-intrest__link">
                <a href="#" class="arrow-link arrow-link--bastilie">
                    <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        Войти в хранилище
                    </p>
                    <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
                </a>
            </div>
        </div>
        <div class="home-menu__item point-of-intrest">
            <div class="js-parallax-background" style="background-image: url(/img/home/kurs_afisha2.jpg)"></div>
            <h2>Контакты</h2>
            <h3>Как нас найти</h3>
            <div class="overlay">
                {{ partial "ra-preload-decoration" . }}
            </div>
            <div class="point-of-intrest__link">
                <a href="#" class="arrow-link arrow-link--bastilie">
                    <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        Связь с нами
                    </p>
                    <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
                </a>
            </div>
        </div>
    </div>
</div>