<div class="ra-home-blog-posts">
    <h1 class="ra-section-title">
        <span>Блог</span>
    </h1>
    <div class="ra-home-blog-posts__item js-move-decoration">
        <div class="ra-home-blog-posts__item-image">
            <div style="background-image: url(/img/home/features-1.jpg)"></div>
        </div>
        <h2>
            Hand picked meals for our best.
        </h2>
        <p>
            Aliquam ullamcorper finibus lorem ut auctor. Aliquam sed aliquet eros. Vivamus maximus dignissim mi et accumsan.
        </p>
        <a href="#">
            Читать больше
        </a>
    </div>
    <div class="ra-home-blog-posts__item js-move-decoration">
        <div class="ra-home-blog-posts__item-image">
            <div style="background-image: url(/img/home/features-2.jpg)"></div>
        </div>
        <h2>
            Hand picked meals for our best.
        </h2>
        <p>
            Aliquam ullamcorper finibus lorem ut auctor. Aliquam sed aliquet eros. Vivamus maximus dignissim mi et accumsan.
        </p>
        <a href="#">
            Читать больше
        </a>
    </div>
    <div class="ra-home-blog-posts__item js-move-decoration">
        <div class="ra-home-blog-posts__item-image">
            <div style="background-image: url(/img/home/features-3.jpg)"></div>
        </div>
        <h2>
            Hand picked meals for our best.
        </h2>
        <p>
            Aliquam ullamcorper finibus lorem ut auctor. Aliquam sed aliquet eros. Vivamus maximus dignissim mi et accumsan.
        </p>
        <a href="#">
            Читать больше
        </a>
    </div>
</div>