<div class="ra-home-features">
    <div class="ra-home-features__content">
        <div class="ra-home-features__item js-move-decoration left-to-right">
            <div class="ra-home-features__item-image">
                <img src="/img/home/f1.png">
            </div>
            <h2>Профессионализм</h2>
            <p>
                У нас проводят семинары флористы с мировым именем - Питер Хесс и Грегор Лерш
            </p>
        </div>
        <div class="ra-home-features__item js-move-decoration">
            <img src="/img/home/f2.png">
            <h2>Гибкость</h2>
            <p>
                Программы на любой вкус и для различного уровня мастерства
            </p>
        </div>
        <div class="ra-home-features__item js-move-decoration right-to-left">
            <img src="/img/home/f3.png">
            <h2>прогресс в действии</h2>
            <p>
                Наши ученики с уверенностью воплощают свои знания в реальные проекты
            </p>
        </div>
    </div>

</div>