<div class="home-recent">
    <h1 class="ra-section-title">
        <a href="/events">Анонсы</a>
    </h1>
    <div class="siema home-recent__slider">

        {{ $eventsList := (where .Data.Pages "Type" "events")}} {{ range $eventsList }} {{ .Title}}
        <div class="home-recent__slide">
            <div class="home-recent__slide-image" style="background-image: url({{ .Params.image}}"></div>
            <div class="home-recent__slide-content">
                <h2>{{ .Title}}</h2>
                <h3>{{ .Params.subtitle}}</h3>
                {{ $startFormatted := (dateFormat "02/01" .Params.eventStartDate)}}
                {{ $endFormatted := (dateFormat "02/01" .Params.eventEndDate)}}
                <div class="home-recent__slide-time">
                    <time datetime="{{ dateFormat "02-01" .Params.eventStartDate }}">{{ $startFormatted }}</time>
                    {{ if ne $startFormatted $endFormatted }}
                        -
                        <time datetime="{{ dateFormat "02-01" .Params.eventEndDate }}">{{ $endFormatted }}</time>
                    {{ end }}
                </div>
                <div class="home-recent__slide-link">
                    <a href="{{ .Permalink}}">
                        Узнать больше
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="read-all-link">
        <a href="/events">Все анонсы</a>
    </div>
</div>