<div class="home-recent">
    <h1 class="ra-section-title">
        <span>Анонсы</span>
    </h1>
    <div class="siema home-recent__slider">
        <div class="home-recent__slide">
            <div class="home-recent__slide-image" style="background-image: url(/img/home/next-event-3.jpg)"></div>
            <div class="home-recent__slide-content">
                <h2>Новогодние воркшопы</h2>
                <h3>Встечаем Новый Год вместе!</h3>
                <div class="home-recent__slide-time">
                    <time datetime="10-5">5/10</time>
                    -
                    <time datetime="10-6">6/10</time>
                </div>
                <div class="home-recent__slide-link">
                    <a href="/about-us">
                        Узнать больше
                    </a>
                </div>
            </div>
        </div>
        <div class="home-recent__slide">
            <div class="home-recent__slide-image" style="background-image: url(/img/home/next-event-1.jpg)"></div>
            <div class="home-recent__slide-content">
                <h2>Питер Хесс</h2>
                <h3>"Психология творчества" часть 4</h3>
                <div class="home-recent__slide-time">
                    <time datetime="2017-06-22">22/06/2017</time>
                </div>
                <div class="home-recent__slide-link">
                        <a href="/about-us">
                            Узнать больше
                        </a>
                    </div>
            </div>
        </div>
        <div class="home-recent__slide">
            <div class="home-recent__slide-image" style="background-image: url(/img/home/next-event-2.jpg)"></div>
            <div class="home-recent__slide-content">
                <h2>Элегантное Рождество</h2>
                <h3>Европейская флористика в Минске</h3>
                <div class="home-recent__slide-time">
                    <time datetime="2017-06-27">27/06/2017</time>
                </div>
                <div class="home-recent__slide-link">
                        <a href="/about-us">
                            Узнать больше
                        </a>
                    </div>
            </div>
        </div>

    </div>
    <!-- <a href="#" class="ra-read-more-link">Все события</a> -->
</div>