<div class="ra-home-features">
    <div class="ra-home-features__item js-move-decoration left-to-right">
        <div class="ra-home-features__item-image">
            <img src="/img/f1.jpg">
        </div>
        <h2>Serving With Love</h2>
        <p>
            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt
            lectores legere me lius quod ii legunt saepius.
        </p>
    </div>
    <div class="ra-home-features__item js-move-decoration">
        <img src="/img/f1.jpg">
        <h2>Your Italian Pizza</h2>
        <p>
            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt
            lectores legere me lius quod ii legunt saepius.
        </p>
    </div>
    <div class="ra-home-features__item js-move-decoration right-to-left">
        <img src="/img/f1.jpg">
        <h2>Daily Breads</h2>
        <p>
            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt
            lectores legere me lius quod ii legunt saepius.
        </p>
    </div>
</div>