<div class="ra-site-menu">
    <ul>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">1</em>
            <a href="/">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Главная</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">2</em>
            <a href="/events">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Анонсы</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">3</em>
            <a href="/about-us">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">О нас</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">4</em>
            <a href="/courses">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Курсы</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">5</em>
            <a href="/blog">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Блог</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">6</em>
            <a href="#">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Галерея</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
        <li>
            <span class="no" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">No</span>
            <em class="num" style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">7</em>
            <a href="#">
                <p style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Контакты</p>
                <span style="-webkit-backface-visibility: hidden; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">→</span>
            </a>
        </li>
    </ul>
</div>