<div class="sticky-menu">
    <a href="/" class="sticky-menu__item">
        Главная
    </a>
    <a href="/events" class="sticky-menu__item">
        Анонсы
    </a>
    <a href="/about-us" class="sticky-menu__item">
        О нас
    </a>
    <a href="/courses" class="sticky-menu__item">
        Курсы
    </a>
    <a href="/blog" class="sticky-menu__item">
        Блог
    </a>
    <a href="/" class="sticky-menu__item">
        Галерея
    </a>
    <a href="/contacts" class="sticky-menu__item">
        Контакты
    </a>
</div>