.ra-contacts {
    padding: 80px 40px 40px;
    @media screen and (min-width: 900px) {
        padding: 40px 120px;
    }
    & p {
        max-width: 700px;
    }

    & a {
        color: #999;

        &:hover {
            border-color: #232323;
            color: #232323;
        }
    }
}