.ra-home-features {
    display: block;
    text-align: center;
    padding: 80px 120px;
    background-color: #ffffff;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__item {
        box-sizing: border-box;
        width: 33.33%;
        padding: 0 30px;
    }

    & img {
        margin: 0 auto;
        height: 210px;
    }
}