.home-menu {
    padding:  0 calc(80px + var(--padding-base)) 120px calc(80px + var(--padding-base));
    background-color: var(--catskill-white);
    padding-top: 120px;
    & .home-menu__item {
        width: 100%;
        height: 422px;
        margin-bottom: var(--padding-base);
    }

    & .home-menu__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 var(--padding-base);
        & .home-menu__item {
            height: 395px;
            width: calc(33.33% - var(--padding-base) * 2 / 3);
        }
    }
}