.ra-home-features {
    display: block;
    text-align: center;
    padding: 80px 0 1px;
    background-color: #ffffff;
    @media screen and (min-width: 900px) {
        padding: 80px 120px;
    }
    & .ra-home-features__content {
        width: 100%;
        display: block;
        overflow: hidden;
        flex-direction: row;

        @media screen and (min-width: 900px) {
            display: flex;
        }
    }

    & .ra-home-features__item {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        max-width: 320px;
        margin: 0 auto 80px;

        @media screen and (min-width: 900px) {
            width: 33.33%;
            margin: 0;
            padding: 0 30px;
            max-width: none;
        }
    }

    & img {
        margin: 0 auto;
        height: 210px;
    }
}