.ra-home-blog-posts {
    text-align: center;
    padding: 80px 0 1px;
    background-color: #fefefe;
    @media screen and (min-width: 900px) {
        padding: 80px 120px;
    }
    &__container {
        width: 100%;
        display: block;
        flex-direction: row;
        @media screen and (min-width: 900px) {
            display: flex;
        }
    }
    &__item {
        width: 100%;
        padding: 30px 30px;
        padding-bottom: 66px;
        box-sizing: border-box;
        text-align: left;
        margin: 0;
        border: 1px solid #ddd;
        position: relative;
        @media screen and (min-width: 900px) {
            width: 33.33%;
            margin: 0 10px;
        }
        & a {
            background-color: #343434;
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: #fff;
            font-size: 20px;
            padding: 6px 14px;
            transition: background-color 0.4s;
            &:hover {
                background-color: #dedede;
                border-color: transparent;
            }
        }
    }

    &__item-image {
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 50%;

        & > div {
            background-size: cover;
            background-position: 50%;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.5s;
        }

        &:hover > div {
            width: 140%;
            height: 140%;
            top: -20%;
            left: -20%;
            transform: rotate(10deg);
        }
    }



    & p {
        margin-bottom: 20px;
    }
}