.pagination {
    margin: 0;
    display: block;
    text-align: center;
    margin-bottom: 60px;
    & li {
        list-style: none;
        display: inline-block;
        min-width: 50px;
        padding: 0;
        background-color: #dedede;
        margin: 0 10px;
        & a {
            font-size: 30px;
            line-height: 50px;
            display: block;
            text-align: center;
            color: #666;
            border-bottom: 1px solid transparent;

            &:hover {
                color: var(--bastilie);
                border-bottom-color: var(--bastilie);
                
            }
            &:active {
                color: var(--silver-chalice);
            }
        }

        &.active {
            background-color: var(--bastilie);
            
            pointer-events: none;

            & a {
                color: var(--catskill-white);
            }
        }

    }
}