.posts {
    &__container {
        background-color: #fff;
        padding: 0 100px;
    }

    &__ul {
        margin: 0;
        list-style: none;
    }

    &__li {

    }
}

.post {
    & h2 {
        font-size: 1.5rem;
        & a {
            font-size: inherit;
            color: inherit;

            &:hover {
                border-color: transparent;
            }
        }
    }
    & time {
        font-size: 0.5rem;
        letter-spacing: 3px;
        color: var(--silver-chalice);
    }
    & p {
        line-height: 1.7;
        padding: 0.5rem 0;
        width: 70%;
    }

    & img {
        display: block;
        width: 70%;
    }
}