.ra-site-menu {
    opacity: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.95);
    overflow: auto;
    & ul {
        list-style: none;
        text-transform: uppercase;
        transition: top .4s;
        margin-top: 60px;

        @media screen and (min-width: 900px) {
            position: absolute;
            top: 54%;
            left: 50%;
            width: 414px;
            margin: -301px 0 0 -207px;
        }
    }
    & .no {
        position: absolute;
        left: 0;
        top: 34px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        color: #232323;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom: 1px solid #232323;
        line-height: 14px;
        transform: translateY(40px);
        opacity: 0;
        user-select: none;
    }

    & .num {
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: #bbb;
        position: absolute;
        left: 20px;
        top: 10px;
        transform: translateY(40px);
        opacity: 0;
        user-select: none;
    }
    & p {
        padding: 0;
        margin: 0;
        user-select: none;
        position: relative;
        z-index: 1;
    }
    & a {
        text-decoration: none;
        display: block;
        text-align: center;
        letter-spacing: 9px;
        line-height: 84px;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Oswald', sans-serif;
        color: var(--text-color);
        border-bottom: 0;
        &:active {
            color: var(--link-active-color);
        }
        & span {
            position: absolute;
            right: 10px;
            top: 34px;
            text-indent: -54321em;
            width: 0px;
            height: 0px;
            border: 10px solid transparent;
            border-left: 10px solid #eee;
            transform: translateY(40px);
            opacity: 0;
        }
        &::after {
            content: '-----------------';
            text-indent: -54321px;
            background: #eee;
            top: 40px;
            height: 8px;
            left: -54321em;
            position: absolute;
            width: 0%;
            left: 10.5%;
            transition: width 0.2s
        }
        &:hover::after {
            width: 84%;
        }
    }
    & li {
        text-align: center;
        position: relative;
        padding: 0;
    }
}

.is-menu {
    overflow: hidden;
    & .ra-site-menu {
        opacity: 1;
        z-index: 10;
        & ul {
            top: 50%;
        }
    }

    & .ra-menu-btn {
        & .ra-hamburger {
            display: none;
        }
        & .ra-cross {
            display: block;
        }
    }

}
