{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead"
        },
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
