{{ partial "head" . }}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
{{ partial "ra-page-top" (dict "introVideo" "/video/about-us.mp4" "pageTitle" "Наши курсы") }}
{{ partial "ra-sticky-menu" . }}

<div class="blog-post">
    <h1>Направления</h1>
    <p>
        Международные курсы профессиональной флористики, сочетающие в&nbsp;себе современный
        подход к&nbsp;проведению занятий, самые полезные знания и&nbsp;реальный опыт
        практикующих мастеров, предлагают:
    </p>
    <ul>
        <li>флористику для взрослых</li>
    </ul>
    <p>
        Базовый курс &laquo;Основы европейской флористики&raquo;
        (вечерняя и&nbsp;утренняя группы) и&nbsp;курс-интенсив &laquo;Основы европейской
        цветочной аранжировки&raquo; Российско-Швейцарской школы дизайнеров-флористов
        &laquo;Николь&raquo; (11&nbsp;дней обучения).
    </p>
    <ul>
        <li>флористику для детей в&nbsp;возрасте от&nbsp;8&nbsp;лет</li>
    </ul>
    <p>
        Курс &laquo;Флористика + Этикет для детей и&nbsp;подростков&raquo;.
    </p>
    <ul>
        <li>повышение квалификации</li>
    </ul>
    <p>
        Тематические семинары, мастер-классы, воркшопы.
    </p>
    <ul>
        <li>курс &laquo;Психология творчества&raquo; от&nbsp;известного мастера Питера 
            Хесса из&nbsp;Швейцарии.</li>
    </ul>
</div>
{{ partial "footer" . }}