{{ $t := "Курсы и мастер-классы по флористике"}}
{{ $d := "Курсы для начинающих, базовый курс флористики, детская флористика, мастер-классы и семинары по флористике, воркшопы"}}
{{ $i := "/og-image.jpg"}}

{{ partial "head" (dict "title" $t "description" $d "image" $i)}}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
<div class="ra-page-top ra-page-top--inner">
    <video class="ra-video-bg" loop muted>
        <source src="/video/about-us.mp4" type="video/mp4">
    </video>
    <h1 class="ra-page-title">
        Наши курсы
    </h1>
</div>
{{ partial "ra-sticky-menu" . }}

<div class="blog-post">
    <p>
        Нас часто спрашивают: &laquo;Чем Международные курсы профессиональной флористики
         Роза Азора отличаются от&nbsp;других?&raquo;
    </p>
    <p>
        Все наши программы основаны на&nbsp;реальном опыте работы в&nbsp;цветочном 
        бизнесе на&nbsp;рынке Беларуси и&nbsp;дают вам в&nbsp;руки проверенные 
        инструменты успеха: стандарты качества, бизнес-навыки&nbsp;&mdash; 
        умение не&nbsp;только создать букет, но&nbsp;и&nbsp;продать. 
        Основатель учебного проекта Роза Азора&nbsp;&mdash; Ольга Гайдукевич, 
        владелица цветочных салонов, дипломированный мастер-флорист, коуч 
        (Университет Эриксона), лингвист со&nbsp;знанием пяти языков, училась 
        во&nbsp;Франции, Италии и&nbsp;Германии.
    </p>
    <p>
        На&nbsp;курсах вы&nbsp;не&nbsp;только учитесь флористике, но&nbsp;и&nbsp;
        раскрываете свой потенциал, как личность. Наши ученицы расцветают на&nbsp;
        глазах, обретают уверенность и&nbsp;находят свой путь к&nbsp;счастью, творчески 
        и&nbsp;профессионально самовыражаются.
    </p>
    <p>
        Мы&nbsp;учим &laquo;с&nbsp;нуля&raquo; и&nbsp;до&nbsp;уверенного владения 
        техниками и&nbsp;приемами флористики. Во&nbsp;время учебы вы&nbsp;получаете 
        все материалы для работы: цветы, инструменты, фартуки, аксессуары.
    </p>
    <p>
    Рады предложить вам:
    </p>
    <ul>
        <li>интенсивный курс &laquo;Флорист-практик. Цветочный салон&raquo; обучение 
            &laquo;с&nbsp;нуля&raquo;
            5&nbsp;дней обучения, 40&nbsp;часов
            Подходит как для минчан, так и&nbsp;для приезжих. Теория и&nbsp;практика, создание портфолио, 15&nbsp;работ
            Выдается сертификат об&nbsp;окончании интенсивного курса.
            Стоимость: 840&nbsp;бел. рублей</li>
        <li>курс &laquo;Основы европейской флористики. Первая ступень&raquo;<br>
            24&nbsp;занятия, 3&nbsp;месяца, 2&nbsp;раза в&nbsp;неделю по&nbsp;3&nbsp;часа<br>
            вечерняя группа 18.30&nbsp;&mdash; 21.30<br>
            утренняя группа 9.30&nbsp;&mdash; 12.30<br>
            Заканчивается зачетом.<br>
            Выдается промежуточный сертификат.<br>
            Стоимость: ежемесячная оплата 400&nbsp;бел. рублей.<br> 
            Общая стоимость курса&nbsp;&mdash; 1200&nbsp;бел. рублей</li>
        <li>курс &laquo;Основы европейской флористики. Вторая ступень&raquo;<br>
            24&nbsp;занятия, 3&nbsp;месяца, 2&nbsp;раза в&nbsp;неделю по&nbsp;3&nbsp;часа<br>
            вечерняя группа 18.30&nbsp;&mdash; 21.30<br>
            утренняя группа 9.30&nbsp;&mdash; 12.30 <br>
            Заканчивается экзаменом.<br>
            Выдается сертификат об&nbsp;окончании курса.<br>
            Стоимость: ежемесячная оплата 400&nbsp;бел. рублей.  Общая стоимость курса&nbsp;&mdash; 1200&nbsp;бел. рублей</li>
        <li>Курс &laquo;Флористика для детей и&nbsp;подростков&raquo; <br>
            Ученики от&nbsp;10&nbsp;до&nbsp;16&nbsp;лет.<br>
            Занятия 1&nbsp;раз в&nbsp;неделю по&nbsp;субботам<br>
            12.00 &minus;14.00, 16.00&nbsp;&mdash; 18.00<br>
            Стоимость: 200&nbsp;бел. рублей в&nbsp;месяц</li>
        <li>Курс &laquo;Школа декора&raquo;<br>
            Для свадебных декораторов, витринистов, дизайнеров. Обучает &laquo;с&nbsp;нуля&raquo; созданию масштабных декораций с&nbsp;применением современных материалов: фоамиран, изолон, различные пластики и&nbsp;металлоконструкции.<br> 
            4&nbsp;сессии по&nbsp;3&nbsp;дня в&nbsp;течение календарного года<br>
            Стоимость: 585&nbsp;бел. руб за&nbsp;сессию</li>
        <li>Выездные мастер-классы для организаций.<br>
            От&nbsp;6&nbsp;человек<br>
            Тематика и&nbsp;бюджет согласовываются с&nbsp;заказчиком.</li>
        <li>Воркшопы для тех, кто только влюбляется во&nbsp;флористику.</li>
        <li>Тематические семинары флористов с&nbsp;мировым именем. <br>
            Среди наших преподавателей Грегор Лерш (Германия), Питер Хесс (Швейцария),<br>
            Антонио Трентини (Италия), Рудольфо Казатти (Италия), Фредерик Дюпре (Франция),<br>
            Жан-Луи Амис (Франция), Натлья Гармашова (Россия), Наталья Мелехова (Россия), Дмитрий Туркан (Россия).</li>
        <li>Флористическое образование за&nbsp;рубежом<br>
            Обучение в&nbsp;Италии, Fondazione Minoprio. Преподаватель Рудольфо Казатти.<br>
            Практический курс для флористов, управляющих и&nbsp;владельцев цветочного бизнеса во&nbsp;Франции (Монтелимар).<br>
            Преподаватель&nbsp;&mdash; чемпион Франции по&nbsp;флористике Жан-Луи Амис.</li>
    </ul>
</div>
{{ partial "footer" . }}