{{ partial "head" . }}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
<div class="ra-page-top ra-page-top--inner">
    <video class="ra-video-bg" loop muted>
        <source src="/video/about-us.mp4" type="video/mp4">
    </video>
    <h1 class="ra-page-title">
        Наши курсы
    </h1>
</div>
{{ partial "ra-sticky-menu" . }}

<div class="blog-post">
    <h1>Наши курсы</h1>
    <p>
        Международные курсы профессиональной флористики, сочетающие в&nbsp;себе
        современный подход к&nbsp;проведению занятий, самые полезные знания и&nbsp;реальный
        опыт практикующих мастеров, предлагают:
    </p>
    <p>
        Базовое образование:
    </p>
    <ul>
        <li>курс &laquo;Основы европейской флористики&raquo; (вечерняя и&nbsp;утренняя группы, срок обучения 6&nbsp;месяцев).
            интенсивный курс &laquo;Флорист-практик. Цветочный салон&raquo; (5&nbsp;дней обучения).</li>
        <li>курс-интенсив &laquo;Флорист-практик. Цветочный салон&raquo;</li>
    </ul>
    <p>
        Мастер-классы и&nbsp;тематические семинары флористов с&nbsp;мировым именем. Среди наших
        преподавателей Грегор Лерш (Германия), Питер Хесс (Швейцария), Жан-Луи Амис (Франция), Антонио Трентино (Италия), Рудольфо
        Казатти (Италия) и&nbsp;многие другие.
    </p>
    <p>
        Флористическое образование за&nbsp;рубежом -Практический курс для флористов,
        управляющих и&nbsp;владельцев цветочного бизнеса во&nbsp;Франции (Монтелимар).
        Преподаватель&nbsp;&mdash; чемпион Франции по&nbsp;флористике Жан-Луи Амис.
    </p>
    <p>
        Флористику для детей в&nbsp;возрасте от&nbsp;10&nbsp;лет
        Курс &laquo;Флористика + Этикет для детей и&nbsp;подростков&raquo;.
    </p>
    <p>
        Корпоративные мастер-классы для организаций.
    </p>
    <p>
        Воркшопы для тех, кто только влюбляется во&nbsp;флористику.
    </p>
</div>
{{ partial "footer" . }}