{{ $t := "Способы оплаты курсов RozaAzora"}}
{{ $d := "Курсы для начинающих, базовый курс флористики, детская флористика, мастер-классы и семинары по флористике, воркшопы оплачивайте с помощье erip"}}
{{ $i := "/og-image.jpg"}}

{{ partial "head" (dict "title" $t "description" $d "image" $i)}}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
<div class="ra-page-top ra-page-top--inner" style="height: 45vh">
    <video class="ra-video-bg" loop muted>
        <source src="/video/about-us.mp4" type="video/mp4">
    </video>
    <h1 class="ra-page-title">
        Способы оплаты
    </h1>
</div>
{{ partial "ra-sticky-menu" . }}

<div class="blog-post">
    <p>
      <img src="/img/logo-raschet-midi-400.png" alt="raschet logo" title="erip logo" style="float: left; width: 200px; margin-right: 20px;"/>
      Пожалуйста, перед оплатой курса ознакомьтесь с <a href="https://http://rozaazora.by/documents/oferta_rozaazora.docx/" target="_blank">договором оферты</a>.
      Оплатить услуги ИП&nbsp;Гайдукевич О.В. Вы&nbsp;можете через систему
      &laquo;Расчет&raquo; (ЕРИП), в&nbsp;любом удобном для Вас месте, в&nbsp;удобное для Вас
      время, в&nbsp;удобном для Вас пункте банковского обслуживания &mdash;
      интернет-банке, с&nbsp;помощью мобильного банкинга, инфокиоске,
      кассе банков, банкомате и&nbsp;т.д.
      Совершить оплату можно с&nbsp;использованием наличных денежных
      средств, электронных денег и&nbsp;банковских платежных карточек в
      пунктах банковского обслуживания банков, которые оказывают услуги по&nbsp;приему платежей, а
      также посредством инструментов дистанционного банковского обслуживания.
    </p>
    <h2>ДЛЯ ПРОВЕДЕНИЯ ПЛАТЕЖА НЕОБХОДИМО:</h2>
    <ol class="payments">
      <li>
        Выбрать
        <ul>
            <li>Пункт "Система "Расчет" (ЕРИП)</li>
            <li>Образование и развитие</li>
            <li>Дополнительное образование и развитие</li>
            <li>Профессиональное образование</li>
            <li>Минская обл.</li>
            <li>ИП Гайдукевич О.В.</li>
            <li>Посещение курсов</li>
        </ul>
      </li>
      <li>
        Для оплаты товаров и услуг ввести <b><u>номер договора</u></b>
      </li>
      <li>
        Проверить корректность информации
      </li>
      <li>
        Совершить платеж
      </li>
    </ol>
    <p>
      Если Вы&nbsp;осуществляете платеж в&nbsp;кассе банка, пожалуйста, сообщите кассиру о
      необходимости проведения платежа через систему &laquo;Расчет&raquo; (ЕРИП).
    </p>
    <p>
      Поддержку в работе с системой "Расчет" (ЕРИП) оказывает сервис <a href="https://www.hutkigrosh.by/be/" target="blank">"Хуткi Грош"
      (https://www.hutkigrosh.by/be/)</a>.
    </p>
</div>
{{ partial "footer" . }}
