{{ $t := (print "Галерея Roza Azora: " .Title) }}
{{ partial "head" (dict "title" $t "description" .Description "image" .Params.image )}}
<div class="xs-only-visible">
  {{ partial "ra-site-menu" . }}
  {{ partial "r2-menu-btn" . }}
</div>

{{ partial "ra-sticky-menu" . }}
<div class="blog-post">
  <h1>{{ .Title}}</h1>
  <p>{{ .Description}}</p>
    
    {{ range .Params.item }}
        <p>
            <h5>{{ .name}}</h5>
            {{ if .image }}
                <img src="{{ .image }}" alt=".name">
            {{ else }}
                <iframe class="album-vid" src="https://www.youtube.com/embed/{{ .vid}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {{ end }}
        {{ .}}
        </p>

    {{ end }}
  {{ partial "contact-form" . }}
  <a href="/galery" class="post__read-more">←</a>
</div>
{{ partial "footer" . }}