{{ $t := "Блог школы флористики Roza Azora"}}
{{ $d := "Семья школы флористики Roza Azora - наши будни и праздники"}}
{{ $i := "/og-image.jpg"}}
{{ partial "head" (dict "title" $t "description" $d "image" $i)}}

{{ partial "ra-site-menu" . }} {{ partial "r2-menu-btn" . }}
<!-- {{ partial "ra-page-top" (dict "introVideo" "/video/about-us.mp4" "pageTitle" "Блог" "sometext" "inner-page") }} -->
<div class="ra-page-top ra-page-top--inner">
  <video class="ra-video-bg" loop muted>
    <source src="/video/blog-intro.mp4" type="video/mp4">
  </video>
  <h1 class="ra-page-title">
    Блог
  </h1>
</div>
{{ partial "ra-sticky-menu" . }}

<div class="posts__container">
    <h1 class="ra-section-title">
        <span>Наши последние новости</span>
    </h1>
  {{ $pag := .Paginate (.Data.Pages) 6 }}
  <div class="posts__ul">
    {{ range $pag.Pages }}
    <div class="posts__li">
      {{ .Render "li"}}
    </div>
    {{ end }}
  </div>

  {{ template "_internal/pagination.html" . }}



</div>

{{ partial "footer" . }}