<div class="post">
  <a class="image-link" href="{{ .Permalink }}" style="background-image: url({{ .Params.image}});"></a>
  <h2 class="f3 b lh-title mb1 primary">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
  <!-- <h3>{{ .Params.subtitle}}</h3> -->
  <a  class="post__short-content-time" href="{{ .Permalink }}">
    Начало: <time datetime="{{ dateFormat "02-01-2006" .Params.eventStartDate }}">{{ dateFormat "02-01-2006" .Params.eventStartDate }}</time><br>
    Конец: <time datetime="{{ dateFormat "02-01-2006" .Params.eventEndDate }}">{{ dateFormat "02-01-2006" .Params.eventEndDate }}</time>
  </a>
  <a class="post__short-content" href="{{ .Permalink }}">
    {{ .Description }}
  </a>
  <a href="{{ .Permalink }}" class="post__read-more">→</a>
</div>