:root{
    --font-size-root: 32px;
    --bastilie: #201921;
    --silver-chalice: #acacac;
    --catskill-white: #f9fafc;
    --crimson: #E81410;
    --san-marino: #4267AE;
    --anakiwa: #9ED0FF;
    --olive: #97C77D;
    --yellow-sea: #FFAC0A;
    --bright-sun: #FBE52F;
    --font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-size-base: .6rem;
    --line-height-base: 1.5;
    --font-weight-base: 300;
    --color-base: var(--bastilie);
    --background-color-base: var(--catskill-white);
    --padding-base: 1.5rem;
    --margin-base: .5rem;
    --transition-duration-base: .3s;
    --font-family-accent: "Oswald", sans-serif;
    --font-family-accent-2: "EB Garamond";
    --font-size-accent: .75rem;
    --line-height-accent: var(--line-height-base);
    --font-weight-accent: 400;
    --color-accent: var(--color-base);
    --number-font-family: var(--font-family-accent-2);
    --text-font-family: var(--font-family-base);
    --text-font-size: var(--font-size-base);
    --text-line-height: var(--line-height-base);
    --text-font-weight: var(--font-weight-base);
    --text-color: var(--color-base);
    --link-font-family: var(--font-family-base);
    --link-font-size: var(--text-font-size);
    --link-line-height: var(--text-line-height);
    --link-font-weight: var(--text-font-weight);
    --link-color: var(--san-marino);
    --link-active-bg: transparent;
    --link-active-color: var(--silver-chalice);
    --link-border-bottom: 0px solid transparent;
    --link-hover-border-bottom: 1px solid var(--link-color);
    --headings-font-family: var(--font-family-accent);
    --headings-h1-font-size: calc(1.8 * var(--font-size-accent));
    --headings-h2-font-size: calc(1.4 * var(--font-size-accent));
    --headings-h3-font-size: var(--font-size-accent);
    --headings-h4-font-size: var(--font-size-accent);
    --headings-h5-font-size: var(--font-size-accent);
    --headings-h6-font-size: var(--font-size-accent);
    --headings-line-height: 1.5;
    --headings-font-weight: 300;
    --headings-space-before: calc(var(--margin-base) * 2);
    --headings-space-after: calc(var(--margin-base) / 2);

    --text-shadow: 0 0 2px var(--bastilie);
}
