{{ partial "head" (dict "title" "Школа флористики Roza Azora" "description" "Уникальная для Беларуси школа флористики: опыт зарубежных мастеров, эксклюзивные программы и вдохновляющая атмосфера. Школа флористики для начинающих" "image" "/og-image.jpg")}}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
{{ partial "ra-page-image-top" (dict "introVideo" "/img/main-page-header-bg.jpg")}}
{{ partial "ra-sticky-menu" . }}
{{ partial "ra-home-features" . }}
{{ partial "ra-image-divider" . }}
{{ partial "ra-home-recent" . }}
{{ partial "ra-home-blog-posts" . }}
{{ partial "ra-image-divider-sm" . }}
{{ partial "footer" . }}
