{{ partial "head" . }}
{{ partial "ra-site-menu" . }}
{{ partial "r2-menu-btn" . }}
<div class="ra-page-top ra-page-top--inner">
    <video class="ra-video-bg" loop muted>
        <source src="/video/about-us.mp4" type="video/mp4">
    </video>
    <h1 class="ra-page-title">
        О нас
    </h1>
</div>
{{ partial "ra-sticky-menu" . }}
<div class="blog-post">
    <h1>О нас</h1>
    <p>
        &laquo;ROZA AZORA&raquo;&nbsp;&mdash; это международные курсы профессиональной
        флористики и&nbsp;уникальный для Беларуси образовательный проект, объединивший в&nbsp;себе
        опыт зарубежных мастеров-флористов, эксклюзивные программы и&nbsp;по-настоящему
        комфортную, вдохновляющую атмосферу. Теперь жители Минска, взрослые и&nbsp;дети,
        могут стать частью творческого процесса, узнать обо всех тонкостях работы с&nbsp;цветами
        от&nbsp;известных практиков из&nbsp;разных стран мира, посетить авторские курсы,
        мастер-классы и&nbsp;встречи с&nbsp;талантливыми мастерами.
    </p>
    <p>
        Проект &laquo;ROZA AZORA&raquo; стал &laquo;Выбором года Беларуси 2016&raquo;,
        является организатором первого в&nbsp;республике LANDART Camp и&nbsp;флористического
        перформанса &laquo;Эксперимент ZIMA&raquo;. А&nbsp;это значит, что перед учениками
        открываются практически безграничные возможности для творческого роста, самореализации
        и&nbsp;совершенствования в&nbsp;востребованной профессии.
    </p>
    <h2>Атмосфера</h2>
    <p>
        Светлое и&nbsp;стильное лофт-пространство с&nbsp;большими окнами, свежим воздухом
        и&nbsp;оригинальными элементами декора и&nbsp;есть учебный класс, где постигают основы
        цветочного искусства, воплощают в&nbsp;реальность креативные идеи и&nbsp;получают
        актуальные знания в&nbsp;сфере современной флористики. Ученикам предоставляются
        все необходимые материалы и&nbsp;инструменты.
    </p>
    <h2>Преподаватели</h2>
    <p>
        Обучение на&nbsp;международных курсах &laquo;ROZA AZORA&raquo; проводятся зарубежными
        флористами по&nbsp;авторским программам и&nbsp;талантливыми белорусскими мастерами.
        Среди них Ольга Гайдукевич, организатор, преподаватель по&nbsp;профессиональной флористике,
        владелица сети цветочных салонов &laquo;РозаАзора&raquo;, и&nbsp;Наталья Волк, выбравшая
        путь дизайнера-флориста, ставшая обладательницей гран-при чемпионата
        РБ&nbsp;&laquo;Васильковая корона&raquo;, Инна Фицнер, флорист-дизайнер, призер
        республиканских и&nbsp;международных флористических конкурсов, таких как &laquo;Kiev
        Flower Show Cup&raquo;.
    </p>
    <p>
        Профессионалы &laquo;ROZA AZORA&raquo; продолжают совершенствовать свои знания
        и&nbsp;навыки, исследуют традиции флористики, новаторские методики и&nbsp;практики
        индустрии. В&nbsp;октябре мастера прошли обучение в&nbsp;школе &laquo;Формафлёр&raquo;
        у&nbsp;лучших флористов Франции, участвуют в&nbsp;различных проектах, разрабатывают
        авторские курсы и&nbsp;семинары.
    </p>
  </div>
{{ partial "footer" . }}